

/* наши качества */ 


.OurAdvantages {
	padding-left: 0px;
	display: flex;
	margin: 0px;
}

.OurAdvantages__item + .OurAdvantages__item {
	margin-left: 30px;
}

.OurAdvantages__item {
	width: 270px;
}

.OurAdvantages__box {
	width: 270px;
	height: 120px;
}

.OurAdvantages__box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.OurAdvantages__box {
	margin-bottom: 30px;
}

.OurAdvantages__box {
	background: #F5F4FA;
	border-radius: 4px;
}

.iconki-main-top .OurAdvantages__box + .OurAdvantages__box {
	margin-left: 30px;
}

.OurAdvantages__icon {
	height: 70px;
}

.OurAdvantages__title {
	font-weight: 700;
	size: 14px;
	line-height: 1.17;
	margin-bottom: 10px;
	margin-top: 0px;
	text-transform: uppercase;
}

.OurAdvantages__text {
	margin: 0px;
	color: var(--color-b);
	font-size: 14px;
	line-height: 1.14;
	font-weight: normal;
}


.regular-customers__title {
	font-weight: 700;
	size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}

.regular-customers__list {
	display: flex;
}

.regular-customers__item + .regular-customers__item {
	margin-left: 30px;
}

.regular-customers__item {
	width: 170px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}



.regular-customers__link {
	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid #AFB1B8;
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
}



.regular-customers__icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	fill: #AFB1B8;
	.regular-customers__item:hover & {
		fill: var(--color-a);
			border: 1px solid var(--color-a);
	border-radius: 4px;
	}
}







