

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	--color-a: #2196F3;
	--color-b: #757575;
	--color-c: #2F303A;
	--color-d: #FFFFFF;
	--colo-ir: #2dce50;
	--color-f: #8178b9;
	--color-g: #E5E5E5;
	--color-k: #F5F4FA;
	--color-l: rgba(255, 255, 255, 0.6);
	--color-m: #188CE8;
}

